flow.json
[{"id":"5e64d318.075b14","type":"http in","z":"147084f6.ff6a2b","name":"","url":"/createTransaction","method":"get","swaggerDoc":"","x":124,"y":62,"wires":[["cf1d3643.661c3"]]},{"id":"cf1d3643.661c3","type":"function","z":"147084f6.ff6a2b","name":"findNonce: hash(transaction+nonce)%11111","func":"String.prototype.hashCode = function() {\n\tif (this.length == 0) {\n\t\treturn 0;\n\t} else {\n\t\treturn parseInt(this.split('').map(function(char) {\n\t\t\treturn char.charCodeAt(0);\n\t\t}).reduce(function(current, previous) {\n\t\t\treturn previous + current;\n\t\t})) + (this.substr(1, this.length)).hashCode();\n\t}\n};\n\ntsstart = new Date().getTime();\nnonce = 0;\nwhile (true) {\n\thash = (msg.payload.transaction + nonce).hashCode() % 11111;\n\tif (hash == 0) {\n\t\tbreak;\n\t}\n\tnonce++;\n}\n\ntsstop = new Date().getTime()\ncost = tsstop - tsstart\n\nmsg.payload.nonce = nonce;\nmsg.payload.cost = cost;\nreturn msg;","outputs":1,"noerr":0,"x":503,"y":62,"wires":[["4350bed8.5f826"]]},{"id":"4350bed8.5f826","type":"http response","z":"147084f6.ff6a2b","name":"","x":849,"y":60.5,"wires":[]},{"id":"c6e644e5.c921b","type":"http in","z":"147084f6.ff6a2b","name":"","url":"/submitTransaction","method":"get","swaggerDoc":"","x":122.5,"y":128.5,"wires":[["f70cbbe0.a40fa8"]]},{"id":"f70cbbe0.a40fa8","type":"function","z":"147084f6.ff6a2b","name":"hash(transaction+nonce)%11111==0?accept:reject","func":"String.prototype.hashCode = function() {\n\tif (this.length == 0) {\n\t\treturn 0;\n\t} else {\n\t\treturn parseInt(this.split('').map(function(char) {\n\t\t\treturn char.charCodeAt(0);\n\t\t}).reduce(function(current, previous) {\n\t\t\treturn previous + current;\n\t\t})) + (this.substr(1, this.length)).hashCode();\n\t}\n};\n\nhash = (msg.payload.transaction + msg.payload.nonce).hashCode() % 11111;\nif (hash == 0) {\n\tmsg.payload.status=\"accept\";\n} else {\n\tmsg.payload.status=\"reject\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":521.5,"y":128.5,"wires":[["be89251a.704d1","ad7c211c.e55dc"]]},{"id":"be89251a.704d1","type":"http response","z":"147084f6.ff6a2b","name":"","x":847.5,"y":127,"wires":[]},{"id":"ad7c211c.e55dc","type":"switch","z":"147084f6.ff6a2b","name":"status==accept?","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"accept","vt":"str"}],"checkall":"true","outputs":1,"x":624,"y":221,"wires":[["66dd36a5.e430c"]]},{"id":"930ebc46.b1eef","type":"http in","z":"147084f6.ff6a2b","name":"","url":"/distributeTransaction","method":"get","swaggerDoc":"","x":141.5,"y":296.5,"wires":[["37901c3f.6f42dc"]]},{"id":"37901c3f.6f42dc","type":"function","z":"147084f6.ff6a2b","name":"","func":"msg.transaction = msg.payload.transaction \nmsg.nonce = msg.payload.nonce \n\nreturn msg;","outputs":1,"noerr":0,"x":390.5,"y":296.5,"wires":[["787d2428.062a9c","e64afe5e.cdb2a8"]]},{"id":"121c9d04.d2e173","type":"http response","z":"147084f6.ff6a2b","name":"","x":856.5,"y":295,"wires":[]},{"id":"787d2428.062a9c","type":"http request","z":"147084f6.ff6a2b","name":"","method":"GET","ret":"txt","url":"http://<enterYourselfHere>/submitTransaction?transaction={{{transaction}}}&nonce={{{nonce}}}","tls":"","x":589,"y":296,"wires":[["121c9d04.d2e173"]]},{"id":"e64afe5e.cdb2a8","type":"http request","z":"147084f6.ff6a2b","name":"","method":"GET","ret":"txt","url":"http://<enterYourPeerHere>/submitTransaction?transaction={{{transaction}}}&nonce={{{nonce}}}","tls":"","x":593.5,"y":354.5,"wires":[["121c9d04.d2e173"]]},{"id":"6b981736.82d8c","type":"http in","z":"147084f6.ff6a2b","name":"","url":"/makeTransaction","method":"get","swaggerDoc":"","x":133,"y":468,"wires":[["4cf44651.2aae"]]},{"id":"128e1130.912607","type":"http response","z":"147084f6.ff6a2b","name":"","x":501.5,"y":469.5,"wires":[]},{"id":"4cf44651.2aae","type":"template","z":"147084f6.ff6a2b","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\n<body>\n\t<form action=\"distributeTransaction\" method=\"get\"> Transaction:<input\n\t\ttype=\"text\" name=\"transaction\">\n\t<p>\n\t\tNonce:<input type=\"text\" name=\"nonce\">\n\t<p>\n\t\t<input type=\"submit\">\n\t</form>\n</body>\n</html>","x":337,"y":468,"wires":[["128e1130.912607"]]},{"id":"66dd36a5.e430c","type":"cloudant out","z":"147084f6.ff6a2b","name":"","cloudant":"","database":"blockchain","service":"noderedrkie-cloudantNoSQLDB","payonly":true,"operation":"insert","x":836.5,"y":221.25,"wires":[]}]